h4.pinno-widget-home-title {
  text-align: left;
}

h4.pinno-widget-home-title::before {
  bottom: 35% !important;
}

span.pinno-post-cat,
span.pinno-widget-home-title {
  transform: skewX(0deg) !important;
  background: none !important;
  color: #1f2936 !important;
  padding: 0 0 0.75em 0;
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif !important;
  font-weight: 400;
}

amp-ad[type="adsense"],
amp-ad[type="doubleclick"] {
  direction: ltr;
  display: block;
  margin: 0.75em auto;
}
