.pinno-nav-small-logo img {
    height: 100% !important;
}

.banner-holder{
  background:white;
  z-index:999;
  padding:0.5em 0;
}

.banner-holder.let-ad-show{
  display: block;
}
  
.banner-holder.let-ad-remove{
  display: none;
} 


